*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: url('../images/pattern.jpg') left center;
    background-attachment: fixed;
    width: 100vw;
    overflow-x: hidden;
    /* height:500vh; */
}
html{
    scroll-behavior: smooth;
}
/* Scroll bar------------ */
/* width */
::-webkit-scrollbar {
    width: 13px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 15px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(92, 92, 92); 
  }
/* NAVBAR -----------------------------------------------------------------------------------*/
.navbar-fixed-top{
    transform: translateY(-100%);
    animation: fadein 0.3s forwards;
}
@keyframes fadein{
    to{
        transform: translateY(0);
    }
}
.navbar{
    margin-bottom: 0;
}
.dropdown-menu a:hover{
    background: #333 !important;
    color: white !important;
}
/* Products -------------------------------------------------------- */
.carousel-inner .item img{
    height: 94vh;
}

.carousel-caption h3, .carousel-caption p{
    background-color: #333;
    width: 200px;
    margin: auto;
    box-shadow: 0px 0px 15px 19px #333;
    border-radius: 20px;
}
.avatar{
    border-radius: 10px !important;
}
.row{
    background-color: #333;
}

.card img{
    margin-left:25px;
    margin-top: 15px;
}
.sort-overflow-scroll{
    border-radius: 10px;
    border: 2px solid white;
    padding: 0px 10px;
    max-height: 200px;
    overflow-y: auto;
}
.tags-window{
    position: relative;
    transition: all 0.05s;
}
.products-window{
    border-radius: 20px;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
/* UTILITIES-------------------------------- */
.py{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.px{
    padding-left: 3rem;
    padding-right: 3rem;
}
.my{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.mx{
    margin-left: 3rem;
    margin-right: 3rem;
}

.color-white{
    color:white;
}

.container-fluid{
    width:100%;
    margin-left:auto;
    margin-right: auto;
    background-color: #333; 
}
.transition-div{
    height: 40px;
    background: linear-gradient(to bottom,#333,#333,transparent);
}

.c-c{
    margin-top:2rem;
    margin-bottom:2rem;
}
.h2-c{
    border-radius: 20px; 
    padding-left: 1rem;
    padding-right: 1rem;
    display: inline;
    background: white;
    color: black;
    font-size: 80px;
    mix-blend-mode:screen;
}