
<div class="container bg-dark" id="drinks-carousel">
    <!-- arrow left -->
    <div class="drinks-carousel-arrow" id="drinks-carousel-arrow-left">
        <i class="fas fa-chevron-left fa-3x"></i>
    </div>
    
    <div class="drinks-carousel-content">
        {% for drink in drinks %}
        <div class="card drinks-carousel-card" style="width: 200px">
            <div class="card__body">
                <img class="avatar avatar--md" src="{{drink.featured_image.url}}" style="border:none;margin-top: 0;"/>
                <h3 style="font-size: 16px;">{{drink.title}}</h3>
                <p style="font-size: 14px;">
                    {{drink.quantity}}ml
                    <br>
                    pret: {{drink.price}}lei
                </p>
                <button class="btn-add-cart-drink btn btn--main--outline" id="{{drink.id}}">Adauga in cos</button>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- arrow right -->
    <div class="drinks-carousel-arrow" id="drinks-carousel-arrow-right">
        <i class="fas fa-chevron-right fa-3x"></i>
    </div>
</div>