{% extends 'main.html' %}
{% load static %}

{% block content %}

<div class="container c-c">
    {% if "search" in type %}
    <h2 class="h2-c">Rezultatele cautarii</h2>
    {% else %}
    <h2 class="h2-c">Preparate {{type}}</h2>
    {% endif %}
</div>

<div class="container"> 
    <div class="row bg-dark">
        {% if "search" not in type %}
        <div class="tags-window col-lg-2 color-white">
            <div class="page-header color-white" style="margin-top:0;">
                <h2>Sort:</h2>
            </div>
            <form action="{% url 'products-sort' type %}" method="POST" id="sorting-products-tags" name="theForm">
                {% csrf_token %}
                <div class="sort-overflow-scroll">
                    {% for tag in tags %}
                    <div class="checkbox">
                        <label><input type="checkbox" name="{{tag.title}}">{{tag.title}}</label>
                    </div>
                    {% endfor %}
                </div>
                <input id="submit-sorting-products" class="btn btn--main" style="margin-top: 1rem;visibility: hidden;" type="submit" value="Cauta">
            </form>
        </div>
        {% endif %}
        {% if 'search' not in type %}
        <div class="col-lg-10">
        {% else %}
        <div class="col-lg-12">
        {% endif %}
            <div class="products-window row">
            {% if productsNotFound %}
                <h2 class="products-not-found"">{{productsNotFound}}</h2>
             {% endif %}
            {% for product in products %}
                <div class="col-lg-3">
                    <div class="card" style="height: 350px;">
                        <img class="avatar avatar--lg" src="{{product.featured_image.url}}" />
                        <div class="card__body">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="{% url 'single-product' product.id %}">{{product.title}}</a></h4>
                                    <p>Gramaj: {{product.quantity}} gr</p>
                                    <p>Pret: {{product.price}} ron</p>
                                    <button class="btn-add-cart-food btn btn--main--outline" id="{{product.id}}">Adauga in cos</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="container bg-dark" id="drinks-carousel">
    <!-- arrow left -->
    <div class="drinks-carousel-arrow" id="drinks-carousel-arrow-left">
        <i class="fas fa-chevron-left fa-3x"></i>
    </div>
    
    <div class="drinks-carousel-content">
        {% for drink in drinks %}
        <div class="card drinks-carousel-card" style="width: 200px">
            <div class="card__body">
                <img class="avatar avatar--md" src="{{drink.featured_image.url}}" style="border:none;margin-top: 0;"/>
                <h3 style="font-size: 16px;">{{drink.title}}</h3>
                <p style="font-size: 14px;">
                    {{drink.quantity}}ml
                    <br>
                    pret: {{drink.price}}lei
                </p>
                <button class="btn-add-cart-drink btn btn--main--outline" id="{{drink.id}}">Adauga in cos</button>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- arrow right -->
    <div class="drinks-carousel-arrow" id="drinks-carousel-arrow-right">
        <i class="fas fa-chevron-right fa-3x"></i>
    </div>
</div>
<script>
    const checkboxes = document.querySelectorAll("#sorting-products-tags .checkbox label")

    if (checkboxes) {
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener("click", function () {
                document.theForm.submit()
            })
        })
    }

    let tags="{{enabledTags}}"
    
    if(tags.length>0){
        tags=tags.replaceAll("&#x27;","").replaceAll("csrfmiddlewaretoken, ","").replace("[","").replace("]","")
        const enabledTags=tags.split(", ")
        
        for(let j=0;j<checkboxes.length;j++){
            for(let i=0;i<enabledTags.length;i++){
                if(checkboxes[j].textContent===enabledTags[i]){
                    checkboxes[j].querySelector("input").checked=true
                    break
                }
            }
        }
    }
    
</script>
{% endblock content %}